body{
    background-color: #a8a8a8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding: 20px 50px;
    background-color: #a8a8a8;;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header h1{
    margin: 0;
    font-size: 24px;
}
.header a{
    text-decoration: none;
    color: white;
}
.header-button {
    background-color: #00b4d8;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;

}
.header-buttons{
    display: flex;
    gap:20px;
}
.header-button:hover{
    background-color: #023e8a;
}
.books-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px 50px;
    justify-items: center;
    align-items: stretch;
}
.book {
    background-color: white;
    transition: transform 0.2s ease;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 0 4px 10px 15px gray;
    padding: 15px;
    margin: 20px;
    text-align: center;
    height: 400px;
    width: 180px;
    display:flex;
    flex-direction: column;
}
.book:hover{
    transform: translateY(-10px);
}
.book-title{
    font-size: 13px;
    margin: 5px 0;
    min-height: 32px;
    text-align: center;
}
.book-image{
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
}
.book-button{
    display: flex;
    gap: 10px;
    margin-top: auto;

}
.book-button button{
    flex: 1;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.rented-book{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px;
    margin: 15px 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 6px 15px rgba(0, 0, 0, 0.1);
}
.rented-book:hover{
    background-color: #f0f8ff;
    transform: translateX(3px);
    transition: 0.2s;
}
.rented-book img{
    width: 100px;
    height: auto;
    border-radius: 10px;
}
.customer-info p{
    margin: 5px 0 ;
}
.customer-info button{
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #ef233c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.customer-info button:hover{
    background-color: #d90429;
}
.rent-button{
    background-color:#ef233c;
    color: white;
}
.rent-button:hover{
    background-color: #d90429;
}
.details-button{
    background-color: #5c9210;
    color:white;
}
.details-button:hover{
    background-color: #497708;
}
.book .book-title{
    font-style: oblique;
    font-size: 16px;
    margin: 5px 0;
}
.book .book-author{
    color: #555;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.rent-popup, .details-popup, .warning-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px 15px rgba(0, 0, 0, 0.2);
    z-index: 101;
    min-width: 300px;
}
.rent-popup form{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.rent-popup input, .rent-popup select{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 10px;
    transition: 0.2s;
}
.rent-popup input:focus, .rent-popup select:focus{
    border-color: #0077b6;
    outline: none;
}
.rent-overlay, .popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}
.global-popups{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rent-countdown{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #6d6d6deb;
    padding: 80px;
    border-radius: 25px;
    z-index: 101;
}
.rent-contdown-overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #ffffff49;
    z-index: 100;
}
.closing-button, .closing-rent-button, .warning-popup-closing-button{
    position: absolute;
    font-size: 18px;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    cursor:pointer;
}
.submit-rent-button{
    background:#2ab4ff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    transition: 0.3s;
    margin-top: 5px;
}
.submit-rent-button:hover{
    background-color: #023e8a;
}
.title{
    background: none;
    top:10px;
}
.description{
    background: none;

}
.warning-popup{
    padding: 15px 20px;
    border-radius: 15px;
    background-color: #f89655;
    color: #333;
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.2);
}

.book-button button:active, .header-button:active, .submitRentButton:active{
    transform: scale(0.95);
}
.book-button button:hover, .header-button:hover, .submitRentButton:hover{
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.2);
}

.contactUs-page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 50px;
    flex-wrap: wrap;
}
.contactUs-left, .contactUs-right{
    flex: 1;
    min-width: 300px;
}
.contactUs-left h1, .contactUs-right h1{
    margin-bottom: 20px;
    font-size: 15px;
}
.contactUs-form{
    display: flex;
    flex-direction: column;

}
.contactUs-form input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 250px;
    margin-bottom: 15px;

}
.contactUs-form textarea{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 25px;
    width: 650px;
    resize: vertical;
    min-height: 250px;
}
.contactUs-right p{
    font-size: 16px;
    line-height: 1.5;
}
.contactUs-form button{
    background:#2ab4ff;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    width: 150px;
}
.contactUs-form button:hover{
    background-color: #00a3cc;
}
.success-msg{
    margin-top: 20px;
    color: green;
    font-weight: bold;
}
